<!-- Footer Component -->
<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h3>Kunskaps universitet</h3>
      <p>Erbjuder första klass kunskaper för alla människor i hela världen.</p>
    </div>
    <div class="footer-section links">
      <h4>Snabba länkar</h4>
      <ul>
        <li><a routerLink="/home">Startsida</a></li>
            <li><a routerLink="/courses">Kurser</a></li>
            <li><a routerLink="/diagram">Ramschema</a></li>
      </ul>
    </div>
    <div class="footer-section contact">
      <h4>Kontakta oss</h4>
      <p><strong>Email:</strong> infounisundsvall.se</p>
      <p><strong>Telefon:</strong> +46 123 456 789</p>
      <p><strong>Address:</strong> Önevägen 175, Frösön</p>
    </div>
    <div class="footer-section social">
      <h4>Följa oss</h4>
      <div class="social-icons">
        <a href="https://www.facebook.com/Mittuniversitetet/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/Mittuni"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/mittuniversitetet/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/school/mid-sweden-university/"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2024 Knowledge University. All rights reserved.</p>
  </div>
</footer>

