// Define your color palette
$primary-color: #005f73;
$secondary-color: #0a9396;
$accent-color: #94d2bd;
$background-color: #e9d8a6;
$light-color: #ee9b00;
$dark-text-color: #001219;
$light-text-color: white;

// Overview button styles
#overview {
  text-align: center;
  margin-bottom: 20px;

  button {
    background-color: $primary-color;
    color: $light-text-color;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

// Menu styles
mat-menu {
  button {
    color: $dark-text-color;
    text-transform: uppercase;
  }
}

// Form styles
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  label {
    margin-bottom: 1vh;
  }

  input[type="text"] {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  span {
    margin-top: 2vh;
  }
}

// Select field styles
mat-form-field {
  width: 100%;
  max-width: 500px;
  margin: 10px 0;

  mat-label {
    color: $dark-text-color;
  }
}

// Table styles
.dataTable {
  width: 80%; 
  margin: 0 auto;

  table {
    width: 100%; 
    border-collapse: collapse;

    th, td {
      padding: 0.5rem;
      border: 1px solid $secondary-color;
      text-align: center;
    }

    th {
      background-color: $primary-color;
      color: $light-text-color;
    }

    a {
      color: $accent-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


// Paginator styles
mat-paginator {
  background-color: $secondary-color;
  padding: 1em;
  border-radius: 5px;
}

// media queries
@media only screen and (min-width: 361px) and (max-width: 750px ) {
  .dataTable {
    width: 99%; 
    margin: 0 auto;
  }
  table {
    width: fit-content;
  }
  .courseCodes, .subjects{
    display: none;
  } 
}
@media only screen and (max-width: 360px) {
  .dataTable {
    width: 99%; 
    margin: 0 auto;
  }
  table {
    width: fit-content;
  }
  .courseCodes, .subjects, .syllabuses{
    display: none;
  } 
}

