<h1>Courses</h1>

<div id="form">
    <label for="serach">Sök kurser</label>
    <input type="text" id="serach" [(ngModel)]="searchCourse" (input)="courseSearch()">
 </div>
 <mat-form-field>
   <mat-label>Välje ämne</mat-label>
   <mat-select (selectionChange)="selectedSub()" [(value)]="selected">
      <mat-option value="">Inget ämne</mat-option>
   <mat-option *ngFor="let subject of subjects()" value="{{subject}}">{{subject}}</mat-option>
   </mat-select>
  </mat-form-field>
  <span> {{searchedCourses.length}} </span>
<table>
    <thead id="head">
        <tr>
            <th (click)="sortByCode()">Kurskod </th>
            <th (click)="sortByName()">Kursnamn </th>
            <th (click)="sortByPoints()">Poäng</th>
            <th (click)="sortBySubject()">Ämne</th>
            <th>Kursplan</th>
            <th>Lägg till</th>
        </tr>
    </thead>
    <tbody id="data">
       <tr *ngFor="let course of searchedCourses">
          <td> {{course.courseCode}} </td>
          <td> {{course.courseName}} </td>
          <td> {{course.points}} </td>
          <td> {{course.subject}} </td>
          <td> <a [href]="course.syllabus">Kursplan</a></td>
          <td><button (click)="save(course)">Lägg till</button></td>
       </tr>
    </tbody>
 </table>

