@import '../diagram/diagram.component.scss';
// Overview button styles
#overview {
  text-align: center;
  margin-bottom: 20px;

  button {
    background-color: $primary-color;
    color: $light-text-color;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

// Menu styles
mat-menu {
  button {
    color: $dark-text-color;
    text-transform: uppercase;
  }
}

// Form styles
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  label {
    margin-bottom: 1vh;
  }

  input[type="text"] {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  span {
    margin-top: 2vh;
  }
}

// Select field styles
mat-form-field {
  width: 100%;
  max-width: 500px;
  margin: 10px 0;

  mat-label {
    color: $dark-text-color;
  }
}

//Table
table {
  min-height: 650px;
}


// Paginator styles
mat-paginator {
  background-color: $secondary-color;
  padding: 1em;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: 0;
}