@use '@angular/material' as mat;
@include mat.core();

*{
    padding: 0;
    margin: 0;
}

html{ 
  height: 100%;
 }
body { 
  background-color: #f5f0e1;
  height: 100%;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  
}


//Angular component palette definition
$Project-Angular-primary: mat.define-palette(mat.$indigo-palette);
$Project-Angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Project-Angular-warn: mat.define-palette(mat.$red-palette);


//Define Dark theme
$Project-Angular-dark-theme: mat.define-dark-theme((
  color: (
    primary: $Project-Angular-primary,
    accent: $Project-Angular-accent,
    warn: $Project-Angular-warn,
  )
));

.darkTheme{
    @include mat.all-component-themes($Project-Angular-dark-theme);
}
